.contact-container{
    background-color:  var(--bg-smooth-second-color);
    text-align: center;
    padding-top:0px!important;

}
.contact-info{
    text-align: left;
    display:inline-block;
    max-width: 400px;
    margin: auto;
    background-color: var(--bg-second-color);
    padding:20px;
    vertical-align: top;
    border-radius: 10px 0px 0px 10px;
    margin-top:40px;
    border-right: 10px solid var(--bg-main-color);
}
#contact-form{
display: inline-block;
max-width: 100%;
}
.contact-info svg{
    height:25px;
    display: inline-block;
    color:var(--bg-main-color);
    margin-right: 10px;
    
}
.contact-info p{
    height:25px;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    padding-top:3px;
    color:var(--bg-negative-color);
}
.contact-form{
    border-radius: 10px;
    text-align: center;
    display:inline-block;
    max-width: 600px;
    width: 600px;
    margin: auto;
    background-color: var(--bg-second-color);
    padding:20px;
    
}
.contact-form button{
    width:100%;
    background-color: var(--bg-main-color);
    border-radius: 4px;
    height:40px;
    outline:none;
    border:none;
    cursor:pointer;
    margin-top:15px;
    margin-bottom:10px;
    transition:background-color 0.2s;
}
.contact-form button:hover{
   
    background-color: var(--bg-negative-main-color);
    transition:background-color 0.2s;
}
.form-label{
    display: block;
    color:var(--bg-smooth-negative-color);
    margin-left:0px!important;
    margin-bottom:5px;
    text-align: left;
}
.form-input{
    display: block;
    margin:auto;
    background-color: var(--bg-smooth-second-color);
    margin-left:0px;
    margin-bottom:8px;
    margin-right:0px;
    width:calc(100% - 25px);
    border: 1px solid var(--bg-second-color);
    border-radius:5px;
    height:40px;
    color:var(--bg-main-color);
    padding-left:20px;
    font-family: Arial, Helvetica, sans-serif;
}
.input-error{
    border: 1px solid red;
}
.form-input:focus{
    outline: 1px solid var(--bg-main-color);
}

.col-half{
    width:50%;
    max-width:300px;
    text-align: center;
    display: inline-block;
}

.col-full{
    text-align: center;
    display: block;
    width: 100%;
    max-width:600px;
    margin: auto;
}
textarea.form-input{
    height:200px;
    resize:none;
}
@media only screen and (max-width: 1275px) {
    
    .contact-info{
        text-align: left;
        display:inline-block;
        width:400px;
        max-width: calc(100% - 40px);
        margin: auto;
        background-color: var(--bg-second-color);
        padding:20px;
        vertical-align: top;
        border-radius: 10px 10px 0px 0px;
        margin-top:40px;
        border-right: 0px solid var(--bg-main-color);
        border-bottom: 10px solid var(--bg-main-color);
    }
    .contact-form{
        
        max-width: calc(100% - 40px);
        
        
    }

}